.Header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;

  .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }
}
